<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navigation und Fußzeile</title>
</head>
<body>
    <header th:fragment="kopf">
        <nav>
            <a href="${sprache}'" th:text="#{sprachen} + ' : '"></a>
            <a th:href="@{?sprache=de}">DE</a>
            <a th:href="@{?sprache=en}">EN</a>
            <a th:href="@{?sprache=nl}">NL</a>
        </nav>
    </header>

    <footer th:fragment="fuss">
        <nav>
            <a href="#" th:text="#{fuss.impressum}"></a>
            <a href="#" th:text="#{fuss.kontakt}"></a>
        </nav>
    </footer>

</body>
</html>