<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navigation und Fußzeile</title>
</head>
<body>
    <header th:fragment="kopf">
        <nav class="header-content">
            <div class="div-header">
                <a class="text" th:href="@{/admin/benutzer}" th:text="#{kopf.benutzer}"></a>
                <a sec:authorize="hasRole('CHEF')"class="text" th:href="@{/admin/ort}" th:text="#{kopf.orte}"></a>
                <a class="text" th:href="@{/admin/tour}" th:text="#{kopf.touren}"></a>
            </div>
            <div class="div-header">
                <a class="text" href="${sprache}'" th:text="#{sprachen} + ' : '"></a>
                <a class="text" th:href="@{?sprache=de}">DE</a>
                <a class="text" th:href="@{?sprache=en}">EN</a>
                <a class="text" th:href="@{?sprache=nl}">NL</a>
                <a th:href="@{/logout}">Logout</a>
            </div>            
            
        </nav>

        <p class="error-border" th:if="${info}" th:text="${info}"></p>
        
    </header>

    <footer th:fragment="fuss" class="footer-content">
        <div>
            <a class="text" href="#" th:text="#{fuss.impressum}"></a>
            <a class="text" href="#" th:text="#{fuss.kontakt}"></a>
        </div>
        <div>
            <p th:text="${username}"></p>
        </div>
    </footer>

</body>
</html>