<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benutzerliste</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- HMTX implementierung-->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
      
</head>
<body>

    <header>
        <div th:replace="~{fragments/kopffuss :: kopf}"></div>
    </header>

    <div class="main-content">

        <h1 th:text="#{benutzerliste.titel}"></h1>

        <table>
            <tr th:each="benutzer : ${benutzerListe}">
                <td th:text="${benutzer.id}"></td>
                <td th:replace="~{fragments/benutzer-zeile :: feldausgeben(benutzerid=${benutzer.id}, feldname=namensfeld, wert=${benutzer.name})}"></td>
                <td th:replace="~{fragments/benutzer-zeile :: feldausgeben(benutzerid=${benutzer.id}, feldname=emailfeld, wert=${benutzer.eMail})}"></td>
                <td th:text="${benutzer.geburtstag}" hx-get="/admin/hx/benutzerID"></td>
                <td>
                    <button type="button" th:attr="onclick='window.location.href=\'/admin/benutzer/' + ${benutzer.id} + '\''" th:text="#{benutzerliste.eintrag.bearbeiten}"></button>
                </td>
                <td>
                    <button type="button" th:attr="onclick='window.location.href=\'/admin/benutzer/' + ${benutzer.id} + '/del\''" th:text="#{benutzerliste.eintrag.loeschen}"></button>
                    <!-- th:attr wird gebraucht, weil hier der Wert dynamisch zusammengesetzt wird und komplexe Zeichen wie "" und '' maskiert werden sollen.
                    th:onklick geht nur bei einfacheren und weniger komplexen werten
                    \ Backslash (auch am ende des Strings!!!) maskiert das '', damit es als Zeichen und nicht als Begrenzung der Zeichenkette interpretiert wird.-->
                </td>
            </tr>
        </table>

    </div>

    <th>
        <button th:attr="onclick='window.location.href=\'/admin/benutzer/0\''" th:text="#{benutzerliste.neu}"></button>
    </th>

    <footer>
        <div th:replace="~{fragments/kopffuss :: fuss}"></div>
    </footer>
    
</body>
</html>