<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Ort anlegen</title>
</head>
<body>

    <header>
        <div th:replace="fragments/kopffuss :: kopf"></div>
    </header>

    <div class="main-content">

        <h1 th:if="${ortID} == 0" th:text="#{ortformular.titel.neu}"></h1>
        <h1 th:if="${ortID} != 0" th:text="#{ortformular.titel(${ortID})}"></h1>

        <form th:action="@{/admin/submitOrt}" method="post">

            <div style="padding-left: 30px; padding-right: 50px;">
                <label style="width: 100%; " for="ortname" th:text="#{ort.name}"></label><br>
                <input style="width: 100%;" type="text" name="name" th:value="${ortFormular.name}" th:classappend="${#fields.hasErrors('ortFormular.name')} ? 'error-border' : ''"><br> <!-- muss name gleich dem Namen des Formularattributs entsprehen??? Post methode wurde nach anpassung aufgerufen-->
                <div th:if="${#fields.hasErrors('ortFormular.name')}" th:errors="*{ortFormular.name}" class="error-text"></div>
            </div>

            <table>
                <td>
                    <th>
                        <label for="geobreite" th:text="#{ort.geobreite}"></label><br>
                        <input type="text" name="geobreite" th:value="${ortFormular.geobreite}"><br>
                    </th>
                </td>
                <td>
                    <th>
                        <label for="geolaenge" th:text="#{ort.geolaenge}"></label><br>
                        <input type="text" name="geolaenge" th:value="${ortFormular.geolaenge}"><br>
                    </th>
                </td>
            </table>

            <button type="submit">OK</button> <!-- type ist standardmäßig submit-->
        </form>

    </div>

    <footer>
        <div th:replace="fragments/kopffuss :: fuss"></div>
    </footer>
    
</body>
</html>